@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

@keyframes printed_text {
  0% {
    opacity: 0;
  }
  16.667% {
    opacity: 0;
  }
  16.668% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aroundtheworld1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes aroundtheworld2 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(450deg);
  }
}

@keyframes aroundtheworld3 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

/* Удаляющиеся кружки */
@keyframes float {
    0%, 100% {
      transform: translate(0, 0); 
    }
    50% {
      transform: translate(-50px, 30px); 
    }
    75% {
        transform: translate(-80px, 15px); 
    }
  }